root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.{cs,csproj,props,targets}]
indent_size = 4

[*.{json,yml,yaml,md}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:error
dotnet_style_require_accessibility_modifiers = always:error
dotnet_diagnostic.CA1707.severity = none
